html
{
    background-color: rgba(0, 0, 0, 0.22)
}

header
{
    display: flex;
}

#forum
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topicForm, .postForm
 {
    display: flex;
    flex-direction: column;
 }

 #topic_form, #post_form
 {
    display: flex;
    flex-direction: column;
    gap: 1em;
 }

 .registerForm
 {
    display: flex;
    flex-direction: column;
 }